<div class="card">
  <%= link_to question.title, class: :quiz_title , question_path(question.id) %>
  <div class="card__body">
    <%= link_to "by #{question.user.nickname}", user_path(question.user.id), class: :wuiz__user %>
  </div>
</div>