<main class="main">
  <div class="inner">
    <div class="quiz_search">
      カテゴリー選択　検索
    </div>
    <div class="quiz_list">
      クイズ①
      <%# <%= render partial: "question", collection: @questions %> 
    </div>
    <div class="quiz_list">
      クイズ②
      <%# <%= render partial: "question", collection: @questions %> 
    </div>
    <div class="quiz_list">
      クイズ③
      <%# <%= render partial: "question", collection: @questions %> 
    </div>
  </div>
</main>